*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(44, 223, 255, 0.7),rgba(2, 29, 161, 0.7));
}
.container{
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.lower{
    padding-top: 100px;
}
button{
    
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(216, 216, 216);
    background-color: rgb(61, 153, 196);
    border: none;
    cursor: pointer;
    
}
.upper{
    padding-bottom: 90px; 
    text-align: center;  
}
h1{
    padding: 2.4rem 0;
    font-size: 4.5rem;
    color: rgb(4, 71, 73);
}
p{
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: rgb(7, 82, 82);
}